<%= provide(:title, 'Admin Panel | Directory') %>
	<div id="adminqueue">
		<div>
			<h2>Users</h2>
			<p class="line2">You can search for users to edit content, ban user, or announce the user has passed away.</p>
		</div>
		<div class="all_alumni">
			<h3><%= @results %></h3>
			<ul>
				<% ("A".."Z").each do |l| %>
				<li><a href = "?l=<%= l %>"><%= l %></a></li>
				<% end %>
			</ul>
		</div>
		<div id="searchresults">
		<h3>Showing 1 - 25 of 156</h3>
		<div class="next_pages">
			<a href="">Previous Page</a> | <a href="" class="second">Next Page</a>
		</div>
			
			<% @users.each do |user| %>
				
			<div class="searched">
					<div class="searched_img">
						<img src="../assets/profile_picture.jpg" alt="profile_picture" width="55" height="54" />
					</div>
					<div class="searched_info">
						<h3><%= user[:name] %></h3>
						<p>Majored in <%= user[:major] %></p>
						<p>Class Year <%= user[:year] %></p>
					</div>
					<div class="searched_options">
						<ul>
						<li><span><a href="edituser?id=<%= user[:id] %>" class="wcbutton">Edit User</a><span></li>
						</ul>
					</div>
			</div> <!--div searched closed -->
			
			<% end %>

		<div class="next_pages">
			<a href="">Previous Page</a> | <a href="" class="second">Next Page</a>
		</div>	
		</div><!-- div searchresults closed -->
	</div><!-- div adminqueue closed -->