<%= provide(:title, 'Admin Panel | Newsletter') %>

	<div id="adminqueue">
		<div>
			<h2>Newsletters</h2>
			<p class="line2">View previous and post new newsletters</p>
		</div>
		<div id="newsletter">
			<h3>Post Newsletter</span><%= @success %></h3>

			<%= form_tag 'newsletter' do -%>
				<ul>
					<li><label>Title</label><br/> 
						<%= text_field_tag 'title', nil, :placeholder => "Title", :maxlength => 100 %></li>
					<li><label>Content</label> <br/>
						<%= text_area_tag 'body', nil, :rows => 10, :cols => 25 %></li>
				</ul>
			<%= submit_tag "Publish", :class => 'wcbutton' %>
			<% end %>
			
		</div>
		<div class="floatleft">
			<h3><%= @posts[0] %> <span>- 17 Minutes ago</span></h3>
			<p><%= @posts[1] %></p>
			<a href="" class="wcbutton">Accept</a> <a href="" class="wcbutton">Reject</a>
		</div>

		<div class="floatleft">
			<h3><%= @posts[2] %> <span>- 17 Minutes ago</span></h3>
			<p><%= @posts[3] %></p>
			<a href="" class="wcbutton">Accept</a> <a href="" class="wcbutton">Reject</a>
		</div>

		<div class="floatleft">
			<h3><%= @posts[4] %> <span>- 17 Minutes ago</span></h3>
			<p><%= @posts[5] %></p>
			<a href="" class="wcbutton">Accept</a> <a href="" class="wcbutton">Reject</a>
		</div>

		<div class="floatleft">
			<h3><%= @posts[6] %> <span>- 17 Minutes ago</span></h3>
			<p><%= @posts[7] %></p>
			<a href="" class="wcbutton">Accept</a> <a href="" class="wcbutton">Reject</a>
		</div>

		<%= @debug %>
		
	</div>