<%= provide(:title, 'Admin Panel | Search Results') %>
	<div id="adminqueue">
		<div>
			<h2>Users</h2>
			<p class="line2">You can search for users to edit content, ban user, or announce the user has passed away.</p>
		</div>
		<div>
			<h3><%= @results_num %> Results for "<%= @params[:title] %>"</h3>
			<%= form_tag 'searchresults' do -%>
			<%= text_field_tag 'title', nil, :maxlength => 1000, :class => "special_text3" %> <%= submit_tag "Search", :class => 'wcbutton' %>
			<% end %>
		</div>
		<div id="searchresults">
		
			<%= @results.html_safe %>
			
		</div><!-- div searchresults closed -->
		<%= @debug %>
	</div><!-- div adminqueue closed -->

	