<%= provide(:title, 'Admin Panel | Search') %>
	<div id="adminqueue">
		<%= form_tag 'searchresults' do -%>
		<div>
			
			<h2>Users</h2>
			<p class="line2">You can search for users to edit content, ban user, or announce the user has passed away.</p>
			<%= text_field_tag 'title', nil, :maxlength => 1000, :class => "special_text3" %> <%= submit_tag "Search", :class => 'wcbutton' %>
			
		</div>
		<br><br>
		<div>
			<h3>Filter By Location</h3>
			<form>
				<fieldset>
					<ol>
						<li><%= text_field_tag 'city', nil, :placeholder => "City" %></li>
						<li><%= text_field_tag 'state', nil, :placeholder => "State" %></li>
						<li><%= text_field_tag 'zip', nil, :placeholder => "Zip" %></li>
					</ol>
				</fieldset>
			</form>
		</div>
		<div>
			<h3>Filter by Education</h3>
			<form>
				<fieldset>
					<ol>
						<li><div class="input"><label></label>
							<%= select_tag "degree", "
									<option>Degree Type</option>
						    		<option>1</option>
						    		<option>2</option>
						    		<option>3</option>
						    		<option>4</option>".html_safe %>
						</div>
						</li>
						<li><div class="input"><label></label>
							<%= select_tag "Major",
								   "<option>Major</option>
						    		<option>1</option>
						    		<option>2</option>
						    		<option>3</option>
						    		<option>4</option>".html_safe %>
						</div>
						</li>
						<li><%= text_field_tag 'department', nil, :placeholder => "Department" %></li>
						<li><%= text_field_tag 'class', nil, :placeholder => "Class Year" %></li>
					</ol>
				</fieldset>
			</form>
		</div>
		<% end %>
	</div>
</div>